
        <div class=" container shadow-lg p-3 mb-5 bg-body-tertiary rounded mt-5 text-center ">
            <h1 class="text-success">Welcome to Login and SignUp Forms</h1>
            <div class="mt-5 mx-3 d-flex flex-column ">
                <a href="/user/register" class="mt-1 mb-3">
                    <button type="button" class="btn btn-success">Register</button>
                </a>
                <a href="/user/login">
                    <button type="button" class="btn btn-dark">Login</button>
                </a>     
            </div>
        </div>     
     
     