
        <div class=" container d-flex flex-column">
            <h1>Welcome to login and SignUp Forms</h1>
            <div class="mt-5">
                <a href="/user/register">
                    <button type="button" class="btn btn-light">Register</button>
                </a>
                <a href="/user/login">
                    <button type="button" class="btn btn-dark">Login</button>
                </a>     
            </div>
        </div>     
     
     