
    <div class="mb-3 container shadow-lg p-3 mb-5 bg-body-tertiary rounded mt-5 " style="width: 40%;">
        <div class="container mt-5">
            <h1 class="text-center text-success ">Register Forms</h1>
            <form action="/user/register"  method="post">
                <div class="mb-3">
                  <label class="form-label text-success">Username</label>
                  <input type="text" class="form-control" name="username" >
                  <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>
                <div class="mb-3">
                    <label class="form-label text-success">Email</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" name="email">
                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                  </div>
                <div class="mb-3">
                  <label  class="form-label text-success">Password</label>
                  <input type="password" class="form-control" id="exampleInputPassword1" name="password">
                </div> 
                <div class="d-grid gap-2 ">

                  <button type="submit" class="btn btn-success ">Register</button>
                </div>
              </form>    
        </div>     
      </div>

